@page
@using OngConnection.Domain.Enums
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Nome" class="form-control" />
                <label asp-for="Input.Nome" class="form-label"></label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Telefone" class="form-control" />
                <label asp-for="Input.Telefone" class="form-label"></label>
                <span asp-validation-for="Input.Telefone" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Endereco" class="form-control" />
                <label asp-for="Input.Endereco" class="form-label"></label>
                <span asp-validation-for="Input.Endereco" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.CEP" class="form-control" />
                <label asp-for="Input.CEP" class="form-label"></label>
                <span asp-validation-for="Input.CEP" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Cidade" class="form-control" />
                <label asp-for="Input.Cidade" class="form-label"></label>
                <span asp-validation-for="Input.Cidade" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Estado" class="form-control" />
                <label asp-for="Input.Estado" class="form-label"></label>
                <span asp-validation-for="Input.Estado" class="text-danger"></span>
            </div>
            @if(User.IsInRole(UserType.ONG.GetDescription()))
            {
                <div class="form-floating">
                    @Html.DropDownListFor(m => m.Input.OngType, new SelectList(Enum.GetValues(typeof(OngType))), "Selecione a area de atuação", new{ @class="form-select"})
                    
                    @*<input asp-for="Input.OngType" class="form-control" disabled />*@
                    <label asp-for="Input.OngType" class="form-label"></label>
                    <span asp-validation-for="Input.OngType" class="text-danger"></span>
                </div>

            }
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
