@using OngConnection.Domain.Models
@{
    ViewData["Title"] = "Privacy Policy";
}
@model Ong
<h1>@ViewData["Title"]</h1>

<h1>@Model.NomeOng</h1>

<p>Use this page to detail your site's privacy policy.</p>
